*                    @kelset @tido64

# Android
*.gradle             @kelset @tido64
android/             @kelset @tido64

# iOS
*.podspec            @Saadnajmi @kelset @tido64
*.rb                 @Saadnajmi @kelset @tido64
ios/                 @Saadnajmi @kelset @tido64

# macOS
macos/               @Saadnajmi @kelset @tido64

# Windows
windows/             @acoates-ms @kelset @tido64

# Miscellaneous
/CODE_OF_CONDUCT.md  @microsoftopensource
/LICENSE             @microsoftopensource
/SECURITY.md         @microsoftopensource
