*                    @JasonVMo @tido64

# Android
*.gradle             @JasonVMo @tido64
android/             @JasonVMo @tido64

# iOS
*.podspec            @JasonVMo @Saadnajmi @tido64
*.rb                 @JasonVMo @Saadnajmi @tido64
ios/                 @JasonVMo @Saadnajmi @tido64

# macOS
macos/               @JasonVMo @Saadnajmi @tido64

# visionOS
visionOS/            @JasonVMo @Saadnajmi @tido64

# Windows
windows/             @acoates-ms @JasonVMo @tido64

# Miscellaneous
/CODE_OF_CONDUCT.md  @microsoft/react-native-sdk-admins
/LICENSE             @microsoft/react-native-sdk-admins
/SECURITY.md         @microsoft/react-native-sdk-admins
