*.iml
*.tgz
*.xcworkspace/
.DS_Store
.gradle/
.idea/
.vs/
Pods/
clang-format-diff.py
dist/
example/android/build/
local.properties
msbuild.binlog
node_modules/
!test/fixtures/**/node_modules/
package-lock.json
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
xcuserdata/
yarn-error.log*
