*.iml
*.tgz
*.xcworkspace/
.DS_Store
.gradle/
.idea/
Pods/
build/
dist/
local.properties
node_modules/
!test/fixtures/**/node_modules/
package-lock.json
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
xcuserdata/
yarn-error.log*
.vs/
