*.iml
*.tgz
*.xcworkspace/
.DS_Store
.android-test-*
.ccache/*
!.ccache/ccache.conf
.gradle/
.idea/
.vs/
.watchman-*
.yarn/*
!.yarn/releases/
Pods/
android/**/build/
clang-format-diff.py
coverage/
dist/
example/*/build/
local.properties
msbuild.binlog
node_modules/
!test/__fixtures__/**/node_modules/
package-lock.json
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
template-example/
xcuserdata/
yarn-error.log*
