**/xcuserdata/
*.tgz
.clang-format
.eslintrc.json
.gitattributes
.github/
.rubocop.yml
.swiftlint.yml
Brewfile*
Gemfile*
android/app/build/
example/*
!example/metro.config.js
!example/react-native.config.js
scripts/
test/
