**/xcuserdata/
*.tgz
.clang-format
.editorconfig
.gitattributes
.github/
.rubocop.yml
.swiftlint.yml
.vscode/
.yarn*
Brewfile*
Gemfile*
android/app/build/
android/app/src/androidTest/
android/app/src/test/
coverage/
example/**/*
!example/android/gradle.properties
!example/android/gradle/wrapper/*
!example/android/gradlew*
!example/metro.config.js
!example/react-native.config.js
scripts/
template-example/
test/
tsconfig.json
example/.gitignore
example/windows/.gitignore