**/xcuserdata/
*.tgz
.clang-format
.editorconfig
.gitattributes
.github/
.rubocop.yml
.swiftlint.yml
Brewfile*
Gemfile*
android/app/build/
android/app/src/androidTest/
android/app/src/test/
example/*
!example/metro.config.js
!example/react-native.config.js
scripts/
template-example/
test/
