name: build
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  lint-test:
    name: "lint + test"
    runs-on: macos-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 64
      - name: Cache /node_modules
        uses: actions/cache@v2
        with:
          path: node_modules
          key: project-${{ runner.os }}-${{ hashFiles('yarn.lock') }}
      - name: Install
        run: |
          yarn
      - name: ClangFormat
        if: ${{ github.event_name == 'pull_request' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          scripts/clang-format-diff.sh
      - name: CocoaPods
        run: |
          bundle install
          echo "::add-matcher::.github/rubocop.json"
          bundle exec rubocop
          echo "::remove-matcher owner=rubocop::"
          echo "::add-matcher::.github/minitest.json"
          bundle exec ruby -Ilib:test test/test_test_app.rb
          echo "::remove-matcher owner=minitest::"
      - name: JavaScript
        run: |
          echo "::add-matcher::.github/eslint-stylish.json"
          yarn lint:js
          echo "::remove-matcher owner=eslint-stylish::"
      - name: SwiftLint
        run: |
          brew install swiftlint
          echo "::add-matcher::.github/swiftlint.json"
          swiftlint
          echo "::remove-matcher owner=swiftlint::"
  ios:
    name: "iOS"
    runs-on: macos-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache /example/node_modules
        uses: actions/cache@v2
        with:
          path: example/node_modules
          key: example-${{ runner.os }}-${{ hashFiles('example/yarn.lock') }}
      - name: Install
        run: |
          yarn
        working-directory: example
      - name: Build
        run: |
          set -eo pipefail
          yarn build:ios || yarn build:ios
          pod install --project-directory=ios
          ../scripts/xcodebuild.sh ios/Example.xcworkspace build-for-testing
        working-directory: example
      - name: Test
        run: |
          ../scripts/xcodebuild.sh ios/Example.xcworkspace test-without-building
        working-directory: example
  ios-template:
    name: "iOS [template]"
    strategy:
      matrix:
        template: [all, ios]
    runs-on: macos-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache /node_modules
        uses: actions/cache@v2
        with:
          path: node_modules
          key: project-${{ runner.os }}-${{ hashFiles('yarn.lock') }}
      - name: Cache /template-example/node_modules
        uses: actions/cache@v2
        with:
          path: |
            template-example/node_modules
            template-example/yarn.lock
          key: ${{ matrix.template }}-${{ runner.os }}-${{ hashFiles('p*e.js*') }} # package.json + plopfile.js
      - name: Install
        run: scripts/install-test-template.sh ${{ matrix.template }}
      - name: Build
        run: |
          set -eo pipefail
          yarn build:ios || yarn build:ios
          if [[ ${{ matrix.template }} == ios ]]; then
            pod install
            ../scripts/xcodebuild.sh TemplateExample.xcworkspace build
          else
            pod install --project-directory=ios
            ../scripts/xcodebuild.sh ios/TemplateExample.xcworkspace build
          fi
        working-directory: template-example
  android:
    name: "Android"
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          # Node has a bug where it crashes compiling a regular
          # expression of react-native cli. Using a specific
          # Node version helps to workaround this problem:
          # https://github.com/facebook/react-native/issues/26598
          node-version: 12.9.1
      - name: Checkout
        uses: actions/checkout@v2
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Cache /example/node_modules
        uses: actions/cache@v2
        with:
          path: example/node_modules
          key: example-${{ runner.os }}-${{ hashFiles('example/yarn.lock') }}
      - name: Install
        run: |
          yarn
        working-directory: example
      - name: Build
        shell: bash
        run: |
          set -eo pipefail
          yarn build:android || yarn build:android
          pushd android 1> /dev/null
          ./gradlew clean build check test
        working-directory: example
      - name: Cache /node_modules
        if: ${{ matrix.os == 'macos-latest' }}
        uses: actions/cache@v2
        with:
          path: node_modules
          key: project-${{ runner.os }}-${{ hashFiles('yarn.lock') }}
      - name: Install
        if: ${{ matrix.os == 'macos-latest' }}
        run: yarn
      - name: Run instrumented tests
        if: ${{ matrix.os == 'macos-latest' }}
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          script: cd android/ && ./gradlew clean build connectedCheck
          arch: x86_64
  android-template:
    name: "Android [template]"
    strategy:
      matrix:
        template: [all, android]
        os: [macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          # Node has a bug where it crashes compiling a regular
          # expression of react-native cli. Using a specific
          # Node version helps to workaround this problem:
          # https://github.com/facebook/react-native/issues/26598
          node-version: 12.9.1
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache /node_modules
        uses: actions/cache@v2
        with:
          path: node_modules
          key: project-${{ runner.os }}-${{ hashFiles('yarn.lock') }}
      - name: Cache /template-example/node_modules
        uses: actions/cache@v2
        with:
          path: |
            template-example/node_modules
            template-example/yarn.lock
          key: ${{ matrix.template }}-${{ runner.os }}-${{ hashFiles('p*e.js*') }} # package.json + plopfile.js
      - name: Install
        run: scripts/install-test-template.sh ${{ matrix.template }}
        shell: bash
      - name: Build
        run: |
          set -eo pipefail
          yarn build:android || yarn build:android
          [[ -d android ]] && pushd android 1> /dev/null
          ./gradlew clean build check test
        shell: bash
        working-directory: template-example
  macos:
    name: "macOS"
    runs-on: macos-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache /example/node_modules
        uses: actions/cache@v2
        with:
          path: example/node_modules
          key: example-${{ runner.os }}-${{ hashFiles('example/yarn.lock') }}
      - name: Install
        run: |
          yarn
        working-directory: example
      - name: Build
        run: |
          set -eo pipefail
          yarn build:macos || yarn build:macos
          pod install --project-directory=macos
          ../scripts/xcodebuild.sh macos/Example.xcworkspace build-for-testing
        working-directory: example
      - name: Test
        run: |
          ../scripts/xcodebuild.sh macos/Example.xcworkspace test-without-building
        working-directory: example
  macos-template:
    name: "macOS [template]"
    strategy:
      matrix:
        template: [all, macos]
    runs-on: macos-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache /node_modules
        uses: actions/cache@v2
        with:
          path: node_modules
          key: project-${{ runner.os }}-${{ hashFiles('yarn.lock') }}
      - name: Cache /template-example/node_modules
        uses: actions/cache@v2
        with:
          path: |
            template-example/node_modules
            template-example/yarn.lock
          key: ${{ matrix.template }}-${{ runner.os }}-${{ hashFiles('p*e.js*') }} # package.json + plopfile.js
      - name: Install
        run: scripts/install-test-template.sh ${{ matrix.template }}
      - name: Build
        run: |
          set -eo pipefail
          yarn build:macos || yarn build:macos
          if [[ ${{ matrix.template }} == macos ]]; then
            pod install
            ../scripts/xcodebuild.sh TemplateExample.xcworkspace build
          else
            pod install --project-directory=macos
            ../scripts/xcodebuild.sh macos/TemplateExample.xcworkspace build
          fi
        working-directory: template-example
  windows:
    name: "Windows"
    runs-on: windows-latest
    strategy: 
      matrix:
        configuration: [Debug, Release]
        platform: [ARM, x64]
    steps:
      - name: Set up MSBuild
        uses: microsoft/setup-msbuild@v1.0.1
      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install
        run: |
          yarn
        working-directory: example
      - name: Build bundle and create solution
        run: |
          yarn build:windows
          node node_modules/react-native-test-app/windows/test-app.js
        working-directory: example
      - name: Install NuGet packages
        run: |
          nuget restore
        working-directory: example/windows
      - name: Build
        run: |
          MSBuild ReactTestApp.sln /t:Rebuild /p:Configuration=${{ matrix.configuration }} /p:Platform=${{ matrix.platform }}
        working-directory: example/windows
  release:
    needs:
      [
        lint-test,
        ios,
        ios-template,
        android,
        android-template,
        macos,
        macos-template,
      ]
    runs-on: macos-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache /node_modules
        uses: actions/cache@v2
        with:
          path: node_modules
          key: project-${{ runner.os }}-${{ hashFiles('yarn.lock') }}
      - name: Install
        run: |
          yarn
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
