name: build
on:
  push:
    branches:
    - master
  pull_request:
jobs:
  iOS:
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: minitest
      run: |
        bundle install
        bundle exec rubocop
        bundle exec ruby -Ilib:test test/test_test_app.rb
    - name: Install
      run: |
        yarn
      working-directory: example
    - name: Build
      run: |
        set -eo pipefail
        yarn build:ios
        pod install
        ../scripts/xcodebuild-ios.sh Example.xcworkspace build-for-testing
      working-directory: example
    - name: Test
      run: |
        ../scripts/xcodebuild-ios.sh Example.xcworkspace test-without-building
      working-directory: example
  iOS-template:
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install
      run: scripts/install-test-template.sh all
    - name: Build
      run: |
        set -eo pipefail
        yarn build:ios
        pod install --project-directory=ios
        ../scripts/xcodebuild-ios.sh ios/TemplateExample.xcworkspace build
      working-directory: template-example
  iOS-template-exclusive:
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install
      run: scripts/install-test-template.sh ios
    - name: Build
      run: |
        set -eo pipefail
        yarn build:ios
        pod install
        ../scripts/xcodebuild-ios.sh TemplateExample.xcworkspace build
      working-directory: template-example
  Android:
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Set up Node
      uses: actions/setup-node@v1
      with:
        # Node has a bug where it crashes compiling a regular
        # expression of react-native cli. Using a specific
        # Node version helps to workaround this problem:
        # https://github.com/facebook/react-native/issues/26598
        node-version: 12.9.1
    - name: Cache Gradle
      uses: actions/cache@v1
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - name: Install
      run: |
        yarn
      working-directory: example
    - name: Build
      shell: bash
      run: |
        set -eo pipefail
        yarn build:android
        ./gradlew clean build check test
      working-directory: example
  Android-template:
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Set up Node
      uses: actions/setup-node@v1
      with:
        # Node has a bug where it crashes compiling a regular
        # expression of react-native cli. Using a specific
        # Node version helps to workaround this problem:
        # https://github.com/facebook/react-native/issues/26598
        node-version: 12.9.1
    - name: Cache Gradle
      uses: actions/cache@v1
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - name: Install
      run: scripts/install-test-template.sh all
      shell: bash
    - name: Build
      run: |
        set -eo pipefail
        yarn build:android
        pushd android 1> /dev/null
        ./gradlew clean build check test
      shell: bash
      working-directory: template-example
  Android-template-exclusive:
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Set up Node
      uses: actions/setup-node@v1
      with:
        # Node has a bug where it crashes compiling a regular
        # expression of react-native cli. Using a specific
        # Node version helps to workaround this problem:
        # https://github.com/facebook/react-native/issues/26598
        node-version: 12.9.1
    - name: Cache Gradle
      uses: actions/cache@v1
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - name: Install
      run: scripts/install-test-template.sh android
      shell: bash
    - name: Build
      run: |
        set -eo pipefail
        yarn build:android
        ./gradlew clean build check test
      shell: bash
      working-directory: template-example
