name: build
on:
  push:
    branches:
    - master
  pull_request:
jobs:  
  iOS:
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install
      run: |
        yarn
      working-directory: example
    - name: Build
      run: |
        set -eo pipefail
        yarn build:ios
        pod install
        ../scripts/xcodebuild-ios.sh Example.xcworkspace build-for-testing
      working-directory: example
    - name: Test
      run: |
        ../scripts/xcodebuild-ios.sh Example.xcworkspace test-without-building
      working-directory: example
  iOS-template:
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install
      run: scripts/install-test-template.sh all
    - name: Build
      run: |
        set -eo pipefail
        pod install --project-directory=ios
        ../scripts/xcodebuild-ios.sh ios/TemplateExample.xcworkspace build
      working-directory: template-example
  iOS-template-exclusive:
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install
      run: scripts/install-test-template.sh ios
    - name: Build
      run: |
        set -eo pipefail
        pod install
        ../scripts/xcodebuild-ios.sh TemplateExample.xcworkspace build
      working-directory: template-example
  Android-windows:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 1.8    
    - name: Set up Node
      uses: actions/setup-node@v1
      with:
        node-version: '12.9.1'  
    - name: Install
      run: |
        yarn
      working-directory: example
    - name: Build
      shell: cmd
      run: |        
        yarn build:android        
        gradlew.bat clean build check test --info
      working-directory: example
    - name: Build android
      shell: cmd
      run: |                  
        gradlew.bat clean build check test --info
      working-directory: example
  
  # Android:
  #   runs-on: macos-latest
  #   steps:
  #   - name: Checkout
  #     uses: actions/checkout@v2
  #   - name: Set up JDK
  #     uses: actions/setup-java@v1
  #     with:
  #       java-version: 1.8    
  #   - name: Install
  #     run: |
  #       yarn
  #     working-directory: example
  #   - name: Build
  #     run: |
  #       set -eo pipefail
  #       yarn build:android
  #       sh gradlew clean build check test
  #     working-directory: example
  